*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
scroll-behavior:smooth;
}

body{

background:#0f172a;
color:white;

}

header{

position:fixed;
width:100%;
background:rgba(15,23,42,.8);
backdrop-filter:blur(12px);
padding:20px 8%;
z-index:100;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

}

nav ul{

display:flex;
list-style:none;

}

nav ul li{

margin-left:30px;

}

nav a{

color:white;
text-decoration:none;
transition:.3s;

}

nav a:hover{

color:#38bdf8;

}

.hero{

display:flex;
justify-content:space-between;
align-items:center;
padding:140px 10%;
min-height:100vh;

}

.content h1{

font-size:60px;
color:#38bdf8;

}

.content h2{

margin:15px 0;

}

.buttons{

margin-top:30px;

}

.btn{

padding:12px 30px;
background:#38bdf8;
color:white;
border-radius:30px;
text-decoration:none;
margin-right:15px;
transition:.4s;

}

.btn:hover{

transform:translateY(-5px);

}

.icon{

font-size:28px;
margin-right:15px;
color:white;

}

.profile img{

width:350px;
border-radius:50%;
border:5px solid #38bdf8;
box-shadow:0 0 40px #38bdf8;

animation:float 4s infinite ease-in-out;

}

@keyframes float{

50%{

transform:translateY(-15px);

}

}

section{

padding:80px 10%;

}

h2{

text-align:center;
margin-bottom:40px;
font-size:40px;

}

.skill{

margin-bottom:25px;

}

.bar{

background:#1e293b;
height:12px;
border-radius:20px;

}

.bar div{

height:100%;
background:linear-gradient(90deg,#38bdf8,#2563eb);
border-radius:20px;

}

.cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;

}

.card{

background:#1e293b;
padding:30px;
border-radius:20px;
transition:.4s;

}

.card:hover{

transform:translateY(-10px);
box-shadow:0 0 20px #38bdf8;

}

footer{

padding:30px;
text-align:center;
background:#020617;

}

@media(max-width:768px){

.hero{

flex-direction:column-reverse;
text-align:center;

}

.profile img{

width:220px;
margin-bottom:40px;

}

nav ul{

display:none;

}

}
